  #pro-detail {
    display: flex;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
  }

  #pro-detail img {
    border: 1px solid gray;
    border-radius: 10px;
  }

  #pro-detail .single-pro-img {
    width: 40%;
    margin-left: 110px;
    margin-top: 55px;
  }

  #main-img {
    height: 70vh;
  }

  .small-img-group {
    display: flex;
    justify-content: space-between;
  }

  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }

  .Spro-detail {
    width: 50%;
    padding-top: 100px;
    position: absolute;
    left: 55%;
  }

  .Spro-detail h5 {
    font-size: 16px;
  }

  .Spro-detail h4 {
    padding: 35px 0 20px 0;
    font-size: 20px;
  }

  .Spro-detail h2 {
    font-size: 28px;
    margin-bottom: 22px;
  }

  .Spro-detail select {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 6px;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .Spro-detail input {
    padding: 5px 10px;
    width: 54px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: center;
  }

  .Spro-detail button {
    padding: 5px 2px;
    width: 130px;
    margin-left: 24px;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 8px;
    background-color: #e72424;
    cursor: pointer;
  }

  .Spro-detail button:hover {
    border: 2px solid darkblue;
  }

  .splide__slide {
    width: 300px !important;
  }

  @media screen and (max-width: 450px),(max-width: 540px) {
    #pro-detail {
      margin-bottom: 30%;
    }

    #main-img {
      height: 100%;
    }

    .Spro-detail {
      left: 54% !important;
  }
    .Spro-detail h4 {
      padding: 10px 0 11px 0;
      font-size: 14px;
    }

    .Spro-detail h2 {
      font-size: 20px;
    }

    .Spro-detail select {
      padding: 2px;
    }

    .Spro-detail input {
      padding: 2px;
    }

    .Spro-detail button {
      padding: 4px;
      width: 92px;
      margin-left: 8px;
    }

    #pro-detail .single-pro-img {
      margin-left: 25px;
      margin-top: 18px;
    }

    .Spro-detail {
      padding-top: 0;
    }
  }

  @media screen and (max-width: 280px) {
    .Spro-detail h2 {
      margin-bottom: 5px;
    }

    .Spro-detail h4 {
      padding: 2px 0 2px 0px;
    }

    #contact {
      margin-top: 90%;
    }
  }
  @media screen and (max-width: 820px),(max-width: 912px) {
    #main-img {
      height: 34vh;
    }
    .Spro-detail {
      left: 62%;
  }
  }