#wish-item {
    position: absolute;
    top: 100px;
    background: #f2f2f2;
    transition: all 0.3s ease;
    z-index: 3;
    visibility: visible;
}

#wish-item h1 {
    text-align: left;
    margin-left: 82px;
    margin-top: 25px;
    font-family: sans-serif;
}

.div-wishlist-item {
    padding: 35px 95px;
    display: flex;
    border: 1px solid #0000001f;
    border-bottom-style: hidden;

}


.div-wishlist-item img {
    width: 170px;
    height: 30vh;
    border: 1px solid gray;
    border-radius: 10px;
}

.div-wlist {
    width: 30%;
    padding: 50px 100px;
}

#wish-item h2 {
    color: #030330;
}

.div-wlist span {
    margin-top: 12px;
    font-size: 20px;
}

.div-wlist h4 {
    margin-top: 12px;
    text-align: center;
    color: #030330;
}

.rIcon {
    display: flex;
}

.div-wlist .rating {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 0px !important;
    color: #dfdf00
}

.aCart {
    width: 30%;
    padding: 50px 100px;
}

.aCart p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #030330;
}

.aCart h2 {
    padding: 20px;

}

.aCart input {
    padding: 5px 10px;
    width: 54px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    margin-left: 16px;
    cursor: pointer;
    text-align: center;
}

.aCart .btn-1 {
    border-radius: 8px;
    margin-top: 16px;
    padding: 5px 18px;
    background-color: rgb(36 134 252);
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.aCart .btn-2 {
    border-radius: 8px;
    margin-top: 16px;
    padding: 5px 30px;
    background-color: rgb(252 36 36);
    border: 2px solid white;
    color: white;
    margin-left: 12px;
    cursor: pointer;
}

.aCart .btn-1:hover,
.aCart .btn-2:hover {
    border: 2px solid black;
}

#wish-shoes-3 {
    height: 140px;
    margin-top: 62px;
}


@media screen and (max-width: 450px) {

    #wish-item {
        top: 65px;
    }

    #close-btn-ws {
        display: none;
    }

    .div-wishlist-item {
        flex-direction: column;
        width: 55vw;
    }

    .div-wlist {
        padding: 50px 25px;
    }

    .aCart {
        padding: 46px 15px;
    }

    .boxes span p,
    .div-wlist span p {
        margin-left: 83px;
        font-size: 11px;
    }

    .aCart p {
        position: absolute;
        margin: -25px;
    }
}

@media screen and (max-width: 450px),
(max-width: 540px),
(max-width: 280px) {
    .div-wishlist-item img {
        width: 170px !important;
        height: 30vh;
        border: 1px solid gray;
        border-radius: 10px;
    }
}

@media screen and (max-width:540px),
(max-width:820px) {
    #wish-item {
        top: 65px;
    }

    #close-btn-ws {
        display: none;
    }

    .div-wishlist-item {
        flex-direction: column;
        width: 55vw;
        padding: 35px 122px;
    }

    .div-wlist {
        padding: 50px 25px;
    }

    .aCart {
        padding: 46px 15px;
    }

    .boxes span p,
    .div-wlist span p {
        margin-left: 83px;
        font-size: 11px;
    }

    .aCart p {
        position: absolute;
        margin: -25px;
    }
}

@media screen and (max-width:280px) {
    #wish-item {
        top: 65px;
    }

    #wish-item h1 {
        margin-left: 35px;
    }

    #close-btn-ws {
        display: none;
    }

    .div-wishlist-item {
        flex-direction: column;
        width: 70vw !important;
        padding: 35px 42px !important; 
    }

    .div-wlist {
        padding: 50px 25px;
    }

    .aCart {
        padding: 46px 15px;
    }

    .boxes span p,
    .div-wlist span p {
        margin-left: 83px;
        font-size: 11px;
    }

    .aCart p {
        position: absolute;
        margin: -25px;
        font-size: 15px;
    }
}

@media screen and (max-width:820px),
(max-width: 912px) {
    .div-wishlist-item {
        flex-direction: column;
        width: 70vw;
        padding: 35px 124px;
    }

    .div-wishlist-item img {
        width: 70vw;
        height: 30vh;
        border: 1px solid gray;
        border-radius: 10px;
    }
}

@media screen and (max-width: 912px) {
    .div-wishlist-item {
        flex-direction: column;
        width: 75vw;
        padding: 35px 135px;
    }
}

@media screen and (max-width: 1024px) {

    .div-wishlist-item {
        width: 82vw;
    }

    .div-wlist {
        width: 20%;
        padding: 50px;
    }
}